h1 {
    text-align: center;
    padding-top: 80px;
    color: rgb(247, 159, 108);
    font-size: 40px;
}
h1 span {
    color: #ffffff;
    font-size: 50px;
}
.buton{
    margin-left: 180px;
    margin-top: 0px;
}
.button3{
    text-decoration: none;
}
.container h2 {
    font-size: 20px;
    margin-top: 2px;
    color: darkcyan;
}
body {
    background-color: #DFF6FF;
}
.foot {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #01b0f5;
    font-size: 15px;
    flex-wrap: ;
    text-align: center;
}
.foot span {
    margin-left: 20px;
}
.icon1 {
    height: 30px;
    margin-left: 50px;
}
.icon2 {
    height: 30px;
    margin-left: 50px;
}
.about1 {
    display: flex;
    border: solid; width:500px;
    border-radius: 20px;
 padding-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    margin-left: 60px;
    margin margin-top: 80px;    
}
.who{
    font-size: 15px;
    display: flex;
    margin-left: 60px;
    margin-top: 2px;
    padding-bottom: 20px;
}