h1 {
    text-align: center;
    padding-top: 80px;
    color: rgb(247, 159, 108);
    font-size: 40px;
}
h1 span {
    color: #ffffff;
    font-size: 50px;
}
.buton{
    margin-left: 180px;
    margin-top: 0px;
}
.button3{
    text-decoration: none;
}
}
.container h2 {
    font-size: 20px;
    margin-top: 2px;
    color: darkcyan;
}
}
body {
    background-color: #DFF6FF;
}

